  <!-- Container fluid Starts -->
  <div class="container-fluid">



    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
        <div class="row gutter">
            <div class="col-lg-12">
                <div class="page-title">
                    <h3 class="txt_black_2">Game Center</h3>
                </div>
            </div>

        </div>
    </div>
    <!-- Top Bar Ends -->


    <div class="pt-5">
        <div class="row">
            <div class="col-lg-3 pb-5">
                <div class="shadow bg-white b_1 p-3">
                    <div class="gc_row_1 d-flex align-items-center justify-content-center bg-info">
                       <h3 class="mb-0 text-white text-center">Dear</h3>
                    </div>
                    <div class="pt-3 px-3 text-center">
                        <a href="#" target="_blank" class="text-dark txt_bold d-flex align-items-center justify-content-center"> View Link <i class="fa fa-external-link pl-3 fs_5 pt-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pb-5">
                <div class="shadow bg-white b_1 p-3">
                    <div class="gc_row_1 d-flex align-items-center justify-content-center bg-success">
                       <h3 class="mb-0 text-white text-center">Kerala <br>Lottery</h3>
                    </div>
                    <div class="pt-3 px-3 text-center">
                        <a href="#" target="_blank" class="text-dark txt_bold d-flex align-items-center justify-content-center"> View Link <i class="fa fa-external-link pl-3 fs_5 pt-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 pb-5">
                <div class="shadow bg-white b_1 p-3">
                    <div class="gc_row_1 d-flex align-items-center justify-content-center bg-danger">
                       <h3 class="mb-0 text-white text-center">Jackpots</h3>
                    </div>
                    <div class="pt-3 px-3 text-center">
                        <a href="#" target="_blank" class="text-dark txt_bold d-flex align-items-center justify-content-center"> View Link <i class="fa fa-external-link pl-3 fs_5 pt-1"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<!-- Container fluid ends -->
