<!-- Container fluid Starts -->
<div class="container-fluid">
  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="page-title">
          <h3 class="txt_black_2 mb-0">Customer Care</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar Ends -->

  <div class="accordion cus_accord" id="accordionExample">
    <div class="card mb-3" *ngFor="let data of GetListDate; let i = index">
      <div
        class="card-header show"
        id="headingOne"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <h5 class="mb-0 txt_bold cursor-pointer">Collapsible Group Item #1</h5>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
        style="margin-left: 50px; margin-top: 30px"
      >
        <div>
          <span>Question :</span>
          <div class="card-body">{{ data.question }}<br /></div>
        </div>
        <hr />
        <div>
          <span>Answer :</span>
          <div class="card-body">{{ data.answer }}<br /></div>
        </div>
        <hr />
        <div>
          <span> Link : </span>
          <div>
            <a [href]="Link + data.file_name" style="color: blue !important">{{
              Link + data.file_name
            }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div
        class="card-header collapsed"
        id="headingTwo"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        <h5 class="mb-0 txt_bold cursor-pointer">Collapsible Group Item #2</h5>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          Some placeholder content for the second accordion panel. This panel is
          hidden by default.
        </div>
      </div>
    </div>
    <div class="card">
      <div
        class="card-header collapsed"
        id="headingThree"
        type="button"
        data-toggle="collapse"
        data-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        <h5 class="mb-0 txt_bold cursor-pointer">Collapsible Group Item #3</h5>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion
          panel. This panel is hidden by default.
        </div>
      </div>
    </div> -->
  </div>
</div>
<!-- Container fluid ends -->
