<!-- Container fluid Starts -->
<div class="container-fluid">
  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row gutter">
      <div class="col-lg-12">
        <div class="page-title">
          <h3 class="txt_black_2">Booking Review</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar Ends -->

  <div class="mp_panel">
    <div class="pb-2">
      <div class="row row-cols-lg-5 row-cols-md-3 row-cols-1">
        <div class="col">
          <div class="form-group">
            <label> Choose User </label>
            <select name="" id="" class="form-control" [(ngModel)]="user_type">
              <option value="">Select</option>
              <option value="1">Admin Referral</option>
              <option value="2">Broker Referral</option>
              <option value="3">Customer Referral</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label> Game Type </label>
            <select
              name=""
              id=""
              class="form-control"
              [(ngModel)]="game_type"
              (ngModelChange)="game()"
            >
              <option value="">Select</option>
              <option value="">All</option>
              <option
                *ngFor="let data of gamelistdata; let i = index"
                [value]="i"
              >
                {{ data.game_name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label> Show Timing </label>
            <mat-select
              [(ngModel)]="board_type"
              class="form-control"
              multiple
              (ngModelChange)="show_time()"
            >
              <mat-option
                *ngFor="let topping of toppingList.show_date"
                [value]="topping.id"
                >{{ topping.showTime }}</mat-option
              >
            </mat-select>
            <!-- <mat-form-field appearance="fill">
              <mat-label>Show Timing</mat-label>
              <mat-select
                [(ngModel)]="board_type"
                class="form-control"
                multiple
                (ngModelChange)="show_time()"
              >
                <mat-option
                  *ngFor="let topping of toppingList"
                  [value]="topping"
                  >{{ topping }}</mat-option
                >
              </mat-select>
            </mat-form-field> -->
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label> User Id </label>
            <input type="text" class="form-control" [(ngModel)]="user_id" />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label> Phone Number </label>
            <input type="text" class="form-control" [(ngModel)]="phone" />
          </div>
        </div>
        <div class="col d-flex align-items-end pb-3">
          <button
            type="submit"
            class="btn btn-primary w-100 btn_input btn-ripple"
            (click)="searchData()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="pt-2 mb-3">
      <div class="panel panel-red">
        <div class="panel-heading">
          <h3 class="text-left">Search Results</h3>
        </div>

        <div
          class="resul_show_panel"
          *ngFor="let data of reviewList | paginate: config; let i = index"
        >
          <span class="cnt_result">{{ i + 1 }}</span>

          <div class="pb-3">
            <div class="table-responsive product_table td_center">
              <table class="table no-margin td-middle">
                <thead>
                  <tr>
                    <th>Broker id</th>
                    <th>User id</th>
                    <th>User name</th>
                    <th>Phone number</th>
                    <th>Referral id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>None</td>
                    <td>{{ data.user_id }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.phone }}</td>
                    <td>
                      {{
                        data.referalList[0]?.refered_user_id !== ""
                          ? data.referalList[0]?.refered_user_id
                          : "None"
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="pb-3 pt-2">
            <div class="mb-0 pb-0">
              <h4 class="text-left">Booking Details</h4>
            </div>

            <div class="td_details">
              <div class="row">
                <!-- <div class="col-lg-3">
                  <div class="form-group">
                    <label> Period </label>
                    <select name="" id="" class="form-control">
                      <option value="">Select</option>
                      <option value="">Day</option>
                      <option value="">Month</option>
                      <option value="">Year</option>
                    </select>
                  </div>
                </div> -->
                <div class="col-lg-3">
                  <div class="form-group">
                    <label> Date from </label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      [(ngModel)]="fromDate"
                    />
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label> Date to </label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      [(ngModel)]="toDate"
                    />
                  </div>
                </div>
                <div class="col-lg-3 d-flex align-items-end pb-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-ripple search_bt"
                    (click)="searchDataSingleBooking()"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>

            <div
              class="panel-body pb-0 table-responsive product_table td_center"
            >
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>Booking Id</th>
                    <th>UserId</th>
                    <th>Referral Id</th>
                    <th>Date & Time</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of BookingListdata; let i = index">
                    <td>None</td>
                    <td>{{ data.user_id }}</td>
                    <td>{{ data.referalList[0]?.refered_user_id }}</td>
                    <td>{{ data.created_on }}</td>
                    <td>
                      <button
                        (click)="ViewMorePopup(i)"
                        class="btn btn-primary btn-sm"
                      >
                        View
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <nav class="Page navigation text-center pt-3 pb-3">
            <ul
              class="pagination justify-content-center d-flex align-items-center"
            >
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
    <div class="Page navigation text-center pt-3 pb-3">
      <pagination-controls
        (pageChange)="BookingReviewList($event)"
        class="my-pagination"
      ></pagination-controls>
    </div>
  </div>
</div>
<!-- Container fluid ends -->

<!-- Payment For start -->
<section class="popup_box ViewMorePopupPanel" *ngIf="ViewMorePopupPanel">
  <div
    class="popup_info d-flex align-items-center justify-content-center w-100 h-100"
  >
    <div class="pop_wrapper w-75 position-relative">
      <span class="popup_close" (click)="CloseMoreViewPopup()">x</span>
      <div class="form_pop_he p-3">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>Game Details</th>
                <th>Board Details</th>
                <th>Ticket no</th>
                <th>Quantity</th>
                <th>Ticket price</th>
                <th>Total Amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let data of viewmorepopupdata.booking_data;
                  let i = index
                "
              >
                <td>{{ data.game_name }}</td>
                <td>{{ data.board_name }}</td>
                <td>{{ data.ticket_number }}</td>
                <td>{{ data.ticket_count }}</td>

                <td>
                  <div class="input-group" style="width: 150px; margin: 0 auto">
                    <span class="input-group-addon">RS</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data.ticket_price }}"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group" style="width: 150px; margin: 0 auto">
                    <span class="input-group-addon">RS</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data.total_price }}"
                    />
                  </div>
                </td>
                <td>
                  <span class="badge bg-primary blink_txt mb-2">Success</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Payment For end -->
