<!-- Container fluid Starts -->
<div class="container-fluid">
  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row gutter">
      <div class="col-lg-12">
        <div class="page-title">
          <h3 class="txt_black_2">Ticket Price</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar Ends -->

  <div class="mp_panel">
    <div class="pb-2">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label> Enter Title </label>
            <input
              type="text"
              class="form-control"
              name="Title"
              [(ngModel)]="Title"
            />
            <div class="ERR_Msg text-danger" *ngIf="TitleError">
              <p>Title required</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label> Board </label>
            <input
              type="text"
              class="form-control"
              name="Board"
              [(ngModel)]="Board"
            />
            <div class="ERR_Msg text-danger" *ngIf="BoardError">
              <p>Board required</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label> Ticket price </label>
                <div class="input-group">
                  <span class="input-group-addon">RS</span>
                  <input
                    type="text"
                    class="form-control"
                    name="TicketPrice"
                    [(ngModel)]="TicketPrice"
                  />
                </div>
                <div class="ERR_Msg text-danger" *ngIf="TicketPriceError">
                  <p>TicketPrice required</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label> Price amount </label>
                <div class="input-group">
                  <span class="input-group-addon">RS</span>
                  <input
                    type="text"
                    class="form-control"
                    name="priceAmouont"
                    [(ngModel)]="priceAmouont"
                  />
                </div>
                <div class="ERR_Msg text-danger" *ngIf="priceAmouontError">
                  <p>priceAmouont required</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex align-items-end pb-3">
              <button
                type="submit"
                class="btn btn-primary w-100 btn_input btn-ripple"
                (click)="submit()"
              >
                {{ EditDate == true ? "Update" : "Submit" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-2 mb-3">
      <div class="panel panel-red">
        <div class="pb-3 pt-2">
          <div class="mb-0 pb-0">
            <h4 class="text-left">Ticket Price List</h4>
          </div>

          <div class="panel-body pb-0 table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th class="text-center">Edit</th>
                  <th>Title</th>
                  <th>Board</th>
                  <th class="text-center">Ticket Price</th>
                  <th class="text-center">Price amount</th>
                  <th class="text-center">Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of DataList| paginate : config;; let i = index">
                  <td class="text-center">
                    <i
                      class="fa fa-pencil-square-o h5 text-success cursor-pointer"
                      (click)="Edit(i)"
                    ></i>
                  </td>
                  <td>{{ data.title }}</td>
                  <td>{{ data.board }}</td>
                  <td class="text-center">
                    <div class="input-group m-auto" style="width: 150px">
                      <span class="input-group-addon">RS</span>
                      <span type="text" class="form-control">{{
                        data.ticket_price
                      }}</span>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="input-group m-auto" style="width: 150px">
                      <span class="input-group-addon">RS</span>
                      <span type="text" class="form-control">
                        {{ data.price_amount }}
                      </span>
                    </div>
                  </td>

                  <td class="text-center">
                    <i
                      class="fa fa-trash h5 text-danger cursor-pointer"
                      (click)="remove(data.ticket_price_id)"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
                <div class="Page navigation text-center pt-3 pb-3">
            <pagination-controls
              id="pagination1"
              (pageChange)="alldata($event)"
              class="my-pagination"
            ></pagination-controls>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Container fluid ends -->
