<div class="p-3 border mt-4">
  <h3><b>Notification</b></h3>

  <div class="pt-2 table-responsive product_table td_center">
    <table class="table no-margin">
      <thead>
        <tr>
          <th>S.No</th>
          <th>User Name</th>
          <th>Notification Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of GetListDate; let i = index">
          <td>{{i+1}}</td>
          <td>
            {{data.user_name}}
          </td>
          <td>
            {{data.message}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
