<div class="p-3 border mt-4">
  <h3><b>Notification</b></h3>

  <div class="pt-2 table-responsive product_table td_center">
    <table class="table no-margin">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Notification Title</th>
          <th>Notification Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td>
            auto
          </td>
          <td>
            auto
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
