<div class="w-100 h-100 login_bg">
  <form id="wrapper">
    <div id="box" class="animated bounceIn">
      <div id="top_header">
        <h5>
          Sign in to access to your<br />
          Arise control panel.
        </h5>
      </div>
      <div id="inputs">
        <div class="form-block">
          <input type="text" placeholder="Name" />
        </div>
        <div class="form-block">
          <input type="text" placeholder="UserName" />
        </div>
        <div class="form-block">
          <input type="text" placeholder="Email" />
        </div>
        <div class="form-block">
          <input type="password" placeholder="Password" />
        </div>
        <!-- <a [routerLink]="['/login']" class="btn_login text-center d-block">Sign in</a> -->
      </div>
      <div class="clearfix text-right pr-4 pt-3 pb-3 text-decoration-underline">
        <!-- <a [routerLink]="['/login']" class="text-dark">Login</a> -->
      </div>
    </div>
  </form>
</div>
