<!-- Container fluid Starts -->
<div class="container-fluid">
  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row gutter">
      <div class="col-lg-12">
        <div class="page-title">
          <h3 class="txt_black_2">Booking Review</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar Ends -->

  <div class="mp_panel">
    <div class="pb-2">
      <div class="row row-cols-lg-5 row-cols-md-3 row-cols-1">
        <!-- <div class="col">
          <div class="form-group">
            <label> Choose User </label>
            <select name="" id="" class="form-control" [(ngModel)]="user_type">
              <option value="">Select</option>
              <option value="1">Admin Referral</option>
              <option value="2">Broker Referral</option>
              <option value="3">Customer Referral</option>
            </select>
          </div>
        </div> -->
        <!-- <div
          class="col"
          *ngIf="user_type == '1' || user_type == '2' || user_type == '3'"
        >
          <div class="form-group">
            <label>Refered User Id </label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="referal_user_id"
            />
          </div>
        </div> -->
        <div class="col">
          <div class="form-group">
            <label> Game Type </label>
            <select
              name=""
              id=""
              class="form-control"
              [(ngModel)]="game_type"
              (ngModelChange)="game()"
            >
              <option value="">Select</option>
              <option value="">All</option>
              <option
                *ngFor="let data of gamelistdata; let i = index"
                [value]="i"
              >
                {{ data.game_name }}
              </option>
            </select>
          </div>
        </div>
        <!-- <div class="col-lg-2">
          <label> Choose Show time </label>
          <div class="dropdown w-100">
            <span
              class="form-control cursor-pointer w-100 d-block dropdown-toggle"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              [(ngModel)]="ShowTime_details"
            >
              Select
            </span>
            <div
              class="dropdown-menu chos_board_drop cus_rm_drop bg-white b_1"
              aria-labelledby="dropdownMenuButton"
            >
              <div class="p-2">
                <div class="pb-2">
                  <h4 class="mb-0 pb-2">All</h4>
                  <div>
                    <div class="form-check d-flex align-items-center pl-0">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="exampleCheck1"
                        value="All"
                        (change)="ShowTime($event)"
                      />
                      <label
                        class="form-check-label pl-2 text-dark"
                        for="exampleCheck1"
                      >
                        &nbsp; All</label
                      >
                    </div>
                  </div>
                </div>
                <div class="pb-2" *ngFor="let data of toppingList">
                  <h4 class="mb-0 pb-2">{{ data.game_name }}</h4>
                  <div>
                    <div
                      class="form-check d-flex align-items-center pl-0"
                      *ngFor="let time of data['show_date']"
                    >
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="exampleCheck1"
                        [value]="time.showTime.showTime"
                        (change)="ShowTime($event)"
                      />
                      &nbsp;
                      <label
                        class="form-check-label pl-2 text-dark"
                        for="exampleCheck1"
                      >
                        &nbsp;{{ time.showTime }}</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-lg-2" style="margin-top: -12px">
          <h4>Show time</h4>
          <!-- <mat-form-field
            appearance="fill"
            class="form-control cursor-pointer w-100 d-block"
          > -->
          <mat-select
            [formControl]="pokemonControl"
            class="form-control cursor-pointer w-100 d-block"
            (selectionChange)="show_time()"
            multiple
          >
            <mat-option>__All__</mat-option>
            <mat-optgroup
              *ngFor="let group of toppingList"
              [label]="group.game_name"
            >
              <mat-option
                *ngFor="let pokemon of group.show_date"
                [value]="pokemon.showTime"
              >
                {{ pokemon.showTime }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <!-- </mat-form-field> -->
        </div>
        <div class="col-lg-2" style="margin-top: -12px">
          <h4>Board Name</h4>
          <!-- <mat-form-field
            appearance="fill"
            class="form-control cursor-pointer w-100 d-block"
          > -->
          <mat-select
            [formControl]="BoardNameControler"
            class="form-control cursor-pointer w-100 d-block"
            (selectionChange)="board_detail()"
            multiple
          >
            <mat-option>__All__</mat-option>
            <mat-optgroup
              *ngFor="let group of toppingList"
              [label]="group.game_name"
            >
              <mat-option
                *ngFor="let pokemon of group.board_id"
                [value]="pokemon.name"
              >
                <div>{{ pokemon.name }}</div>
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <!-- </mat-form-field> -->
        </div>

        <div class="col">
          <div class="form-group">
            <label> User Id </label>
            <input
              type="text"
              name=""
              class="form-control"
              [(ngModel)]="user_id"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label> Phone Number </label>
            <input type="text" class="form-control" [(ngModel)]="phone" />
          </div>
        </div>
        <div class="col d-flex align-items-end pb-3">
          <button
            type="submit"
            class="btn btn-primary w-100 btn_input btn-ripple"
            (click)="searchData()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="pt-2 mb-3">
      <div class="panel panel-red">
        <div class="panel-heading">
          <h3 class="text-left">Search Results</h3>
        </div>

        <div
          class="resul_show_panel"
          *ngFor="let data of reviewList | paginate : config; let i = index"
        >
          <span class="cnt_result">{{ i + 1 }}</span>

          <div class="pb-3">
            <div class="table-responsive product_table td_center">
              <table class="table no-margin td-middle">
                <thead>
                  <tr>
                    <th>Broker id</th>
                    <th>User id</th>
                    <th>User name</th>
                    <th>Phone number</th>
                    <th>Referral id</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>None</td>
                    <td>
                      {{
                        data.userlist.role_id == 1
                          ? "BJCD A"
                          : data.userlist.role_id == 2
                          ? "BJCD B"
                          : "BJCD C"
                      }}{{ data.user_id }}
                    </td>
                    <td>{{ data.userlist.name }}</td>
                    <td>{{ data.userlist.phone }}</td>
                    <td>
                      {{
                        data.refered_role_id == 1
                          ? "BJCD A"
                          : data.refered_role_id == 2
                          ? "BJCD B"
                          : "BJCD C"
                      }}
                      {{ data.refered_user_id }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="pb-3 pt-2">
            <div class="mb-0 pb-0">
              <h4 class="text-left">Booking Details</h4>
            </div>

            <div class="td_details">
              <div class="row">
                <!-- <div class="col-lg-3">
                  <div class="form-group">
                    <label> Period </label>
                    <select name="" id="" class="form-control">
                      <option value="">Select</option>
                      <option value="">Day</option>
                      <option value="">Month</option>
                      <option value="">Year</option>
                    </select>
                  </div>
                </div> -->
                <div class="col-lg-3">
                  <div class="form-group">
                    <label> Date from </label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      [(ngModel)]="fromDate"
                    />
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label> Date to </label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      [(ngModel)]="toDate"
                    />
                  </div>
                </div>
                <div class="col-lg-3 d-flex align-items-end pb-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-ripple search_bt"
                    (click)="searchDataSingleBooking()"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>

            <div
              class="panel-body pb-0 table-responsive product_table td_center"
            >
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>Booking Id</th>
                    <th>UserId</th>
                    <th>Referral Id</th>
                    <th>Date & Time</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let data of BookingListdata
                        | paginate : bookingDataConfid;
                      let i = index
                    "
                  >
                    <td>None</td>
                    <td>
                      {{
                        data.role_id == 1
                          ? "BJCD A"
                          : data.role_id == 2
                          ? "BJCD B"
                          : "BJCD C"
                      }}{{ data.user_id }}
                    </td>
                    <td>
                      {{
                        data.referalList[0]?.refered_role_id == 1
                          ? "BJCD A"
                          : data.referalList[0]?.refered_role_id == 2
                          ? "BJCD B"
                          : "BJCD C"
                      }}{{ data.referalList[0]?.refered_user_id }}
                    </td>
                    <td>{{ data.created_on | date : "dd/MM/yyyy HH:mm" }}</td>
                    <td>
                      <button
                        (click)="ViewMorePopup(i)"
                        class="btn btn-primary btn-sm"
                      >
                        View
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="Page navigation text-center pt-3 pb-3">
                <pagination-controls
                  id="pagination2"
                  (pageChange)="singleBookingRecords($event)"
                  class="my-pagination"
                ></pagination-controls>
              </div>
            </div>
          </div>

          <!-- <nav class="Page navigation text-center pt-3 pb-3">
            <ul
              class="pagination justify-content-center d-flex align-items-center"
            >
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
    <div class="Page navigation text-center pt-3 pb-3">
      <pagination-controls
        id="pagination1"
        (pageChange)="BookingReviewList($event)"
        class="my-pagination"
      ></pagination-controls>
    </div>
  </div>
</div>
<!-- Container fluid ends -->

<!-- Payment For start -->
<section class="popup_box ViewMorePopupPanel" *ngIf="ViewMorePopupPanel">
  <div
    class="popup_info d-flex align-items-center justify-content-center w-100 h-100"
  >
    <div class="pop_wrapper w-75 position-relative">
      <span class="popup_close" (click)="CloseMoreViewPopup()">x</span>
      <div class="form_pop_he p-3">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>Game Details</th>
                <th>Board Details</th>
                <th>Ticket no</th>
                <th>Quantity</th>
                <th>Ticket price</th>
                <th>Total Amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let data of viewmorepopupdata.booking_data;
                  let i = index
                "
              >
                <td>{{ data.game_name }}</td>
                <td>{{ data.board_name }}</td>
                <td>{{ data.ticket_number }}</td>
                <td>{{ data.ticket_count }}</td>

                <td>
                  <div class="input-group" style="width: 150px; margin: 0 auto">
                    <span class="input-group-addon">RS</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data.ticket_price }}"
                    />
                  </div>
                </td>
                <td>
                  <div class="input-group" style="width: 150px; margin: 0 auto">
                    <span class="input-group-addon">RS</span>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ data.total_price }}"
                    />
                  </div>
                </td>
                <td>
                  <span class="badge bg-primary blink_txt mb-2">Success</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Payment For end -->
