<ul class="menu clearfix menu_load">
  <li class="">
    <a [routerLink]="['/dashboard']">
      <i class="fa fa-home"></i> <span class="menu-item">Dashboard</span>
    </a>
  </li>
  <li class="">
    <a [routerLink]="['/user-review']">
      <i class="fa fa-user"></i> <span class="menu-item">User Review</span>
    </a>
  </li>
  <li class="">
    <a [routerLink]="['/wallet-review']">
      <i class="fa fa-money"></i> <span class="menu-item">Wallet Review</span>
    </a>
  </li>
  <li class="">
    <a [routerLink]="['/booking-review']">
      <i class="fa fa-file-text-o"></i>
      <span class="menu-item">Booking Review</span>
    </a>
  </li>
  <li class="">
    <a [routerLink]="['/booking-records']">
      <i class="fa fa-file-text-o"></i>
      <span class="menu-item">Booking Records</span>
    </a>
  </li>
  <li class="">
    <a>
      <i class="fa fa-gamepad"></i> <span class="menu-item">Game Center</span>
    </a>
    <ul>
      <li class="">
        <a [routerLink]="['/game-centre']">
          <i class="fa fa-headphones"></i>
          <span class="menu-item">Live Results</span>
        </a>
      </li>
      <!-- <li class="">
        <a [routerLink]="['/create-lottery']">
          <i class="fa fa-headphones"></i>
          <span class="menu-item">Create Lottery</span>
        </a>
      </li> -->
      <!-- <li class="">
        <a [routerLink]="['/lottery-result']">
          <i class="fa fa-headphones"></i>
          <span class="menu-item">Lottery Results</span>
        </a>
      </li> -->
      <li class="">
        <a [routerLink]="['/winning-report']">
          <i class="fa fa-headphones"></i>
          <span class="menu-item">Winning Report</span>
        </a>
      </li>
      <li class="">
        <a [routerLink]="['/ticket-price-details']">
          <i class="fa fa-headphones"></i>
          <span class="menu-item">Tickets Price and Details</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="">
    <a [routerLink]="['/customer-care-list']">
      <i class="fa fa-headphones"></i>
      <span class="menu-item">Customer Care</span>
    </a>
  </li>
  <!-- <li class="">
    <a [routerLink]="['/our-information-add']">
      <i class="fa fa-info-circle"></i> <span class="menu-item">Our Info</span>
    </a>
  </li> -->
</ul>
