<!-- Container fluid Starts -->
<div class="container-fluid">
  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row gutter">
      <div class="col-sm-12">
        <div class="page-title">
          <h3 class="txt_black">Dashboard</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar Ends -->

  <div class="row user_profile">
    <div class="col-md-12 up_right">
      <!-- Row starts -->
      <div class="row gutter">
        <div class="col-lg-4 col-md-5 col-sm-9 col-xs-12">
          <div class="panel h-100 mb-0 random-bg-five">
            <div class="panel-body">
              <span class="edit edit_fix"><i class="fa fa-pencil"></i></span>
              <div class="user-profile clearfix">
                <div class="user-img">
                  <img src="../../../assets/images/thumbs/user1.png" alt="User Info" />
                </div>
                <h3>Profile Name</h3>
                <h4>User Id</h4>
                <h4>Mobile Number</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-3 col-sm-3 col-xs-12">
          <div class="panel height2 mb-0">
            <div class="bank_card w-100 h-100 position-relative overflow_auto">
              <div class="bank_card_row position-relative text-white">
                <div class="d-flex align-items-center p-3">
                  <div class="flx_0">
                    <img alt="" src="../../../assets/images/144x144.png" style="width: 100px" />
                  </div>
                  <div class="flx_1">
                    <div class="bank_name_card card_row">
                      <input
                        type="text"
                        placeholder="Bank Name"
                        class="card_input w-100"
                      />
                    </div>
                  </div>
                </div>

                <div class="account_card card_row">
                  <input
                    type="text"
                    placeholder="Enter Account Number"
                    class="card_input w-100"
                  />
                </div>
                <div class="row card_row align-items-center">
                  <div class="col-5">
                    <div class="account_spec">
                      <input
                        type="text"
                        placeholder="IFSC Code"
                        class="card_input w-100"
                      />
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="card_expiry">
                      <input
                        type="text"
                        placeholder="Branch Name"
                        class="card_input w-100"
                      />
                    </div>
                  </div>
                </div>
                <div class="card_holder_name card_row">
                  <input
                    type="text"
                    placeholder="card holder"
                    class="card_input w-100"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <!-- Row inside row starts -->
          <div class="d-flex flex-column h-100">
            <div class="panel mb-0 random-bg-two flx_1 mb-2">
              <div
                class="panel-body text-center d-flex align-items-center justify-content-center h-100"
              >
                <div class="user-stats">
                  <h1>14</h1>
                  <h5>Total Referrals</h5>
                </div>
              </div>
            </div>
            <div class="panel mb-0 random-bg-four flx_1 mt-2">
              <div
                class="panel-body text-center d-flex align-items-center justify-content-center h-100"
              >
                <div class="user-stats">
                  <h3 class="text-white">BJBRF111</h3>
                  <h5>Referral Id</h5>
                </div>
              </div>
            </div>
          </div>

          <!-- Row inside row ends -->
        </div>
      </div>
      <!-- Row ends -->

      <!-- Row starts -->

      <div>
        <div class="pt-4 pb-2">
          <h3 class="txt_black">My Referrals</h3>
        </div>
        <div class="row gutter">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel users-wrapper yellow">
              <div class="users-info clearfix">
                <div class="users-avatar">
                  <img
                    src="../../../assets/images/thumbs/user12.png"
                    class="img-fluid"
                    alt="Arise Admin"
                  />
                </div>
                <div class="users-detail">
                  <h5>Jeremiah Shaw</h5>
                  <p>Broker</p>
                </div>
              </div>
              <ul class="users-footer clearfix">
                <li class="w-50">
                  <p class="pb-1">User Id</p>
                  <p>BJBR001</p>
                </li>
                <li class="w-50">
                  <p class="pb-1">Contact</p>
                  <p>5551236678</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel users-wrapper red">
              <div class="users-info clearfix">
                <div class="users-avatar">
                  <img
                    src="../../../assets/images/thumbs/user11.png"
                    class="img-fluid"
                    alt="Arise Admin"
                  />
                </div>
                <div class="users-detail">
                  <h5>Jackie Tran</h5>
                  <p>Broker</p>
                </div>
              </div>
              <ul class="users-footer clearfix">
                <li class="w-50">
                  <p class="pb-1">User Id</p>
                  <p>India</p>
                </li>
                <li class="w-50">
                  <p class="pb-1">Contact</p>
                  <p>9991236678</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel users-wrapper red">
              <div class="users-info clearfix">
                <div class="users-avatar">
                  <img
                    src="../../../assets/images/thumbs/user11.png"
                    class="img-fluid"
                    alt="Arise Admin"
                  />
                </div>
                <div class="users-detail">
                  <h5>Jackie Tran</h5>
                  <p>Broker</p>
                </div>
              </div>
              <ul class="users-footer clearfix">
                <li class="w-50">
                  <p class="pb-1">User Id</p>
                  <p>India</p>
                </li>
                <li class="w-50">
                  <p class="pb-1">Contact</p>
                  <p>9991236678</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Row ends -->
    </div>
  </div>
</div>
<!-- Container fluid ends -->
