.ln_3{
    line-height: 27px;
  }
  .chos_board_drop{
    height: 300px;
    overflow: auto;
  }
  
  /* toggle button style start */
.switchlable {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 28px;
}
.form_pop_he {
  height: 400px;
  overflow: auto;
}
.switch_input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:checked + .slider {
  background-color: #2196f3;
}

.toggle:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.toggle:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
  padding: 7px;
}

.off {
  margin-left: 22px;
}
.on {
  margin-left: 0px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle button end */

.popup_w {
  max-width: 400px;
  width: 100%;
}
.card_height {
  height: 46% !important;
}
.form_pop_he {
  height: 400px;
  overflow: auto;
}
.row_bank_list {
  height: 209px;
  overflow: auto;
}
.bg_white {
  background: #ffffff !important;
}
.panel * {
  color: #0e0c0c;
}
.page-title h3 {
  color: #000000 !important;
}
.social-details .social-icon .round-icon {
  border-color: #ffffff !important;
  border-width: 1px !important;
}
.bank_img {
  font-size: 25px;
}
.bank_option {
  width: 100px;
}
.bank_icon_box {
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0px 15px 0px 15px;
  width: 70px;
  height: 70px;
}
