<!-- Container fluid Starts -->
<div class="container-fluid">
  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row gutter">
      <div class="col-lg-12">
        <div class="page-title">
          <h3 class="txt_black_2">Booking Records</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar Ends -->

  <div class="mp_panel">
    <div class="pb-2">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label> Choose Type </label>
            <select name="" id="" class="form-control">
              <option value="">Select</option>
              <option value="">Today</option>
              <option value="">History</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label> Duration </label>
            <select name="" id="" class="form-control">
              <option value="">Select</option>
              <option value="">Day</option>
              <option value="">Month</option>
              <option value="">Year</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label> Date </label>
            <input type="date" class="form-control" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label> Choose Board </label>
            <select name="" id="" class="form-control">
              <option value="">Select</option>
              <option value="">Jackpot</option>
              <option value="">Dear</option>
              <option value="">Kerala Lottery</option>
              <option value="">Dear</option>
            </select>
          </div>
        </div>
      </div>
      <div class="pt-3">
        <h4 class="mb-0 pb-2">Advance Filter</h4>
        <div>
          <label class="bg_yellow px-3 py-1 mb-0 text-white"
            >Board Details</label
          >
        </div>
        <div class="d-flex pt-3 flex-wrap">
          <div
            class="loc_box d-flex loc_box_active mr-3 align-items-center flex-row px-2 py-1 mb-3"
          >
            <div class="flx_1 text-center">1 Digit Board</div>
            <div class="flx_0">
              <i class="fa fa-check-circle-o"></i>
            </div>
          </div>
          <div
            class="loc_box d-flex loc_box_active mr-3 align-items-center flex-row px-2 py-1 mb-3"
          >
            <div class="flx_1 text-center">2 Digit Board</div>
            <div class="flx_0">
              <i class="fa fa-check-circle-o"></i>
            </div>
          </div>
          <div
            class="loc_box d-flex mr-3 align-items-center flex-row px-2 py-1 mb-3"
          >
            <div class="flx_1 text-center">3 Digit Board</div>
            <div class="flx_0">
              <i class="fa fa-check-circle-o"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-3">
        <div>
          <label class="bg_yellow px-3 py-1 mb-0 text-white"
            >Show Timings</label
          >
        </div>
        <div class="d-flex pt-3 flex-wrap">
          <div
            class="loc_box d-flex loc_box_active mr-3 align-items-center flex-row px-2 py-1 mb-3"
          >
            <div class="flx_1 text-center">03:15 PM</div>
            <div class="flx_0">
              <i class="fa fa-check-circle-o"></i>
            </div>
          </div>
          <div
            class="loc_box d-flex loc_box_active mr-3 align-items-center flex-row px-2 py-1 mb-3"
          >
            <div class="flx_1 text-center">05:15 PM</div>
            <div class="flx_0">
              <i class="fa fa-check-circle-o"></i>
            </div>
          </div>
          <div
            class="loc_box d-flex mr-3 align-items-center flex-row px-2 py-1 mb-3"
          >
            <div class="flx_1 text-center">08:00 PM</div>
            <div class="flx_0">
              <i class="fa fa-check-circle-o"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-3 pb-3">
        <button class="btn btn-primary">Search</button>
      </div>
    </div>

    <div class="pt-2 mb-3">
      <div class="panel panel-red">
        <div class="panel-heading">
          <h3 class="text-left">Search Results</h3>
        </div>

        <div class="resul_show_panel">
          <span class="cnt_result">1</span>

          <div class="pb-3">
            <div class="table-responsive product_table td_center">
              <table class="table no-margin td-middle">
                <thead>
                  <tr>
                    <th>Board Details</th>
                    <th>Broker Details</th>
                    <th>Total Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>sample data</td>
                    <td>sample data</td>
                    <td>
                      <div
                        class="input-group"
                        style="width: 150px; margin: 0 auto"
                      >
                        <span class="input-group-addon">RS</span>
                        <input type="text" class="form-control" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="pb-3 pt-2">
            <div class="mb-0 pb-0">
              <h4 class="text-left">Records Preview</h4>
            </div>

            <div
              class="panel-body pb-0 table-responsive product_table td_center"
            >
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>Booking Id</th>
                    <th>User Id</th>
                    <th>Referral Id</th>
                    <th>Date & Time</th>
                    <th>Details</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Total Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>sample</td>
                    <td>sample</td>
                    <td>sample</td>
                    <td>12 jun 2021</td>
                    <td>
                      <button class="btn btn-primary btn-sm">View</button>
                    </td>
                    <td>
                      <div
                        class="input-group"
                        style="width: 150px; margin: 0 auto"
                      >
                        <span class="input-group-addon">RS</span>
                        <input type="text" class="form-control" />
                      </div>
                    </td>
                    <td>
                      <span class="badge bg-primary blink_txt mb-2"
                        >In progress</span
                      >
                      <br />
                      <button class="btn btn-primary btn-sm">View</button>
                    </td>
                    <td>
                      <div
                        class="input-group"
                        style="width: 150px; margin: 0 auto"
                      >
                        <span class="input-group-addon">RS</span>
                        <input type="text" class="form-control" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <nav class="Page navigation text-center pt-3 pb-3">
            <ul
              class="pagination justify-content-center d-flex align-items-center"
            >
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container fluid ends -->
