<div class="container-fluid">
  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row gutter">
      <div class="col-lg-12">
        <div class="page-title">
          <h3 class="txt_black_2">Profile</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar Ends -->

  <div class="mp_panel">
    <div class="pb-3">
      <span class="pb-2 d-block">Enter Old Password</span>
      <input type="password" name="" id="" class="form-control">
    </div>
    <div class="pb-3">
      <span class="pb-2 d-block">Enter New Password</span>
      <input type="password" name="" id="" class="form-control">
    </div>
    <div class="pb-3">
      <span class="pb-2 d-block">Enter Confirm Password</span>
      <input type="password" name="" id="" class="form-control">
    </div>
    <div>
      <button class="btn btn-primary mr-2">Save</button>
    </div>
  </div>
</div>
