<!-- ==========Preloader========== -->
<!-- <div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div> -->
<!-- ==========Preloader========== -->

<!-- ==========Overlay========== -->
<div class="overlay"></div>
<a href="#" class="scrollToTop">
  <i class="fas fa-angle-up"></i>
</a>
<!-- ==========Overlay========== -->

<!-- ==========Header-Section========== -->
<header class="top-header">
  <div class="header-top-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-top-area-inner">
            <a href="index.html" class="logo" style="display: flex">
              <!-- <img src="assets/images/logo.png" alt=""> -->
              <img
                src="assets/images/newlogo.jpeg"
                alt=""
                style="height: 100px"
              />
              <h3 style="margin-top: 38px">Buy Jackpot</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-section">
    <div class="container">
      <div class="header-wrapper">
        <ul class="menu">
          <li>
            <a href="#home" class="active">Home</a>
          </li>

          <li>
            <a href="#apk">APK</a>
          </li>
        </ul>

        <div class="header-bar d-lg-none">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ==========Header-Section========== -->

<!-- ==========Banner-Section========== -->
<section class="banner-section" id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="banner-subtitle">Exclusive Lottery</p>
        <h1 class="banner-title">BUY JACKPOT</h1>
        <p class="text">
          Power up for a chance to win in this electrifying instant game!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- ==========Banner-Section========== -->

<!-- ==========Draw-Section========== -->
<section class="draw-section" id="game">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="draw-slider owl-carousel">
          <div class="item">
            <div class="single-draw">
              <img
                class="overlay"
                src="assets/images/overlaymask1.png"
                alt=""
              />
              <div class="icon">
                <img src="assets/images/d1.png" alt="" />
              </div>
              <h4>$116 Million Win BTC</h4>
              <a href="#" class="custom-button1">Play Now</a>
              <div class="next-draw">
                <span class="text">Next Draw :</span>
                <div class="time">
                  <img src="assets/images/time.png" alt="" />
                  <h6 class="time-countdown" data-countdown="01/01/2021"></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single-draw">
              <img class="overlay" src="assets/images/overlaymask.png" alt="" />
              <div class="icon">
                <img src="assets/images/d2.png" alt="" />
              </div>
              <h4>$106 Million Win BTC</h4>
              <a href="#" class="custom-button2">Play Now</a>
              <div class="next-draw">
                <span class="text">Next Draw :</span>
                <div class="time">
                  <img src="assets/images/time.png" alt="" />
                  <h6 class="time-countdown" data-countdown="01/06/2021"></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single-draw">
              <img
                class="overlay"
                src="assets/images/overlaymask3.png"
                alt=""
              />
              <div class="icon">
                <img src="assets/images/d3.png" alt="" />
              </div>
              <h4>$145 Million Win BTC</h4>
              <a href="#" class="custom-button1">Play Now</a>
              <div class="next-draw">
                <span class="text">Next Draw :</span>
                <div class="time">
                  <img src="assets/images/time.png" alt="" />
                  <h6 class="time-countdown" data-countdown="01/02/2021"></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single-draw">
              <img class="overlay" src="assets/images/overlaymask.png" alt="" />
              <div class="icon">
                <img src="assets/images/d4.png" alt="" />
              </div>
              <h4>$187 Million Win BTC</h4>
              <a href="#" class="custom-button2">Play Now</a>
              <div class="next-draw">
                <span class="text">Next Draw :</span>
                <div class="time">
                  <img src="assets/images/time.png" alt="" />
                  <h6 class="time-countdown" data-countdown="01/04/2021"></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="single-draw">
              <img
                class="overlay"
                src="assets/images/overlaymask3.png"
                alt=""
              />
              <div class="icon">
                <img src="assets/images/d3.png" alt="" />
              </div>
              <h4>$211 Million Win BTC</h4>
              <a href="#" class="custom-button1">Play Now</a>
              <div class="next-draw">
                <span class="text">Next Draw :</span>
                <div class="time">
                  <img src="assets/images/time.png" alt="" />
                  <h6 class="time-countdown" data-countdown="01/05/2021"></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Feature-Section========== -->

<!-- ==========Features-Section========== -->
<section class="features-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-feature">
          <div class="icon">
            <img src="assets/images/f1.png" alt="" />
          </div>
          <h4 class="title">Trust</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-feature">
          <div class="icon">
            <img src="assets/images/f2.png" alt="" />
          </div>
          <h4 class="title">Safe & Security</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-feature">
          <div class="icon">
            <img src="assets/images/f3.png" alt="" />
          </div>
          <h4 class="title">Zero commission</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="single-feature">
          <div class="icon">
            <img src="assets/images/f4.png" alt="" />
          </div>
          <h4 class="title">24/7 Support</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Features-Section========== -->

<!-- ==========Lottery-Result-Section========== -->
<!-- <section class="lottery-result">
  <img class="bg-image" src="assets/images/result-background.jpg" alt="" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="content">
          <div class="section-header">
            <h2 class="title">Latest Lottery results</h2>
            <p class="text">
              Check Your lotto online, find all the lotto winning numbers and
              see if you won the latest lotto jackpots
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="result-box">
          <h4 class="box-header">Lottery Winning Numbers</h4>
          <div class="result-list">
            <div class="single-list">
              <div class="light-area">
                <div class="light-area-top">
                  <div class="left">
                    <img src="assets/images/d1.png" alt="" />
                    <h4>Powerball</h4>
                  </div>
                  <div class="right">
                    <span>Draw took place on</span>
                    <h6>Saturday April 20, 2020</h6>
                  </div>
                </div>
                <div class="light-area-bottom">
                  <div class="left">
                    <p>Winning Numbers:</p>
                    <div class="numbers">
                      <span>11</span>
                      <span>88</span>
                      <span>23</span>
                      <span>9</span>
                      <span>19</span>
                      <span>26</span>
                      <span>87</span>
                    </div>
                  </div>
                  <div class="right">
                    <span>Est. Jackpot</span>
                    <h6>$116 M Win BTC</h6>
                  </div>
                </div>
              </div>
              <div class="color-area">
                <div class="top">
                  <span>Next Draw</span>
                  <h6>Wed, Oct 28, 2020</h6>
                </div>
                <div class="bottom">
                  <span>Est. Jackpot </span>
                  <h6>$116 M Win BTC</h6>
                </div>
              </div>
            </div>
            <div class="single-list">
              <div class="light-area">
                <div class="light-area-top">
                  <div class="left">
                    <img src="assets/images/d2.png" alt="" />
                    <h4>Megamillions</h4>
                  </div>
                  <div class="right">
                    <span>Draw took place on</span>
                    <h6>Saturday April 20, 2020</h6>
                  </div>
                </div>
                <div class="light-area-bottom">
                  <div class="left">
                    <p>Winning Numbers:</p>
                    <div class="numbers">
                      <span>11</span>
                      <span>88</span>
                      <span>23</span>
                      <span>9</span>
                      <span>19</span>
                      <span>26</span>
                      <span>87</span>
                    </div>
                  </div>
                  <div class="right">
                    <span>Est. Jackpot</span>
                    <h6>$116 M Win BTC</h6>
                  </div>
                </div>
              </div>
              <div class="color-area">
                <div class="top">
                  <span>Next Draw</span>
                  <h6>Wed, Oct 28, 2020</h6>
                </div>
                <div class="bottom">
                  <span>Est. Jackpot </span>
                  <h6>$116 M Win BTC</h6>
                </div>
              </div>
            </div>
            <div class="single-list">
              <div class="light-area">
                <div class="light-area-top">
                  <div class="left">
                    <img src="assets/images/d3.png" alt="" />
                    <h4>Euromillions</h4>
                  </div>
                  <div class="right">
                    <span>Draw took place on</span>
                    <h6>Saturday April 20, 2020</h6>
                  </div>
                </div>
                <div class="light-area-bottom">
                  <div class="left">
                    <p>Winning Numbers:</p>
                    <div class="numbers">
                      <span>11</span>
                      <span>88</span>
                      <span>23</span>
                      <span>9</span>
                      <span>19</span>
                      <span>26</span>
                      <span>87</span>
                    </div>
                  </div>
                  <div class="right">
                    <span>Est. Jackpot</span>
                    <h6>$116 M Win BTC</h6>
                  </div>
                </div>
              </div>
              <div class="color-area">
                <div class="top">
                  <span>Next Draw</span>
                  <h6>Wed, Oct 28, 2020</h6>
                </div>
                <div class="bottom">
                  <span>Est. Jackpot </span>
                  <h6>$116 M Win BTC</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- ==========Lottery-Result-Section========== -->

<!-- ==========Check-Number-Section========== -->
<section class="check-number" id="apk">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="content">
          <div class="section-header">
            <h2 class="title">Download APK</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="check-box">
          <a
            [href]="Link + list.file_name"
            style="color: blue !important"
            class="custom-button2"
            >Download APK</a
          >
          <!-- <a href="#" class="custom-button2" download="" target="_blank">Download APK</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Check-Number-Section========== -->

<!-- ==========Newslater-Section========== -->
<footer class="footer-section">
  <div class="container">
    <div class="copyright-wrapper">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="copyr-text">
            <span> Copyright © 2023.All Rights Reserved By </span>
            <a href="#">company name</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ==========Newslater-Section========== -->
<!-- All js link starts hear -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/modernizr-3.6.0.min.js"></script>

<script src="assets/js/bootstrap.min.js"></script>

<script src="assets/js/owl.carousel.min.js"></script>

<script src="assets/js/bootstrap-popover-x.min.js"></script>

<script src="assets/js/main.js"></script>
