<!-- Container fluid Starts -->
<div class="container-fluid">
  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="page-title">
          <h3 class="txt_black_2 mb-0">Create Lottery</h3>
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-row justify-content-end">
        <div class="flx_0 pr-2">
          <button
            class="btn btn-primary CreateGame w-100"
            (click)="CreateGameBtn()"
          >
            Create Game
          </button>
        </div>
        <div class="flx_0 pl-2">
          <button
            class="btn btn-primary CreateBoard w-100"
            (click)="CreateBoardBtn()"
          >
            Create Board
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar Ends -->

  <div class="mp_panel">
    <h4>Active Games</h4>

    <div class="pt-3 pb-3">
      <div class="row">
        <div
          class="col-lg-4 pb-4"
          *ngFor="let data of GameListdata; let i = index"
        >
          <div
            class="game_panel bg_game_1 d-flex"
            [style.background]="data.color"
          >
            <div class="flx_1 d-flex flex-column">
              <div
                class="flx_1 d-flex align-items-center justify-content-center flex-column"
              >
                <h2 class="txt_bold text-uppercase text-white mb-0 text-center">
                  {{ data.game_name }}
                </h2>
                <h2 class="txt_bold text-uppercase text-white mb-0 text-center">
                  {{ data.result_date | countdown | async }}
                </h2>
              </div>
              <div class="flx_0">
                <span class="text-danger d-block text-center txt_bold"
                  >Results Available</span
                >
              </div>
            </div>
            <div class="flx_0 d-flex flex-column align-items-center">
              <div class="flx_1 text-white">
                <!-- <div class="active_chk dark_switch d-inline-block m-auto">
                  <label class="switch">
                    <input
                      class="switch-input"
                      name="IsActive"
                      type="checkbox"
                      
                    />
                    <span
                      class="switch-label"
                      data-on="On"
                      data-off="Off"
                    ></span>
                    <span class="switch-handle"></span>
                  </label>
                </div> -->
                <div class="dropdown">
                  <button
                    role="button"
                    data-toggle="dropdown"
                    style="margin-left: 52px"
                  >
                    <i class="fa fa-ellipsis-v"></i>
                  </button>

                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      (click)="Unpublised(data.game_id, data.status)"
                      >{{ data.status == true ? "Unpublic" : "public" }}</a
                    >
                  </div>
                </div>

                <span class="text-danger d-block text-center">{{
                  data.status !== true ? "Unpublic" : "public"
                }}</span>
              </div>
              <div class="pt-2 flx_0 pb-4">
                <button
                  (click)="EditGame(i)"
                  class="px-2 py-1 rounded border-0 bg-white text-dark txt_bold CreateGame"
                >
                  View All
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container fluid ends -->

<!-- Create game Form Start -->

<section class="popup_box CreateGameFormPopup" *ngIf="CreateGameFormPopup">
  <div
    class="popup_info d-flex align-items-center justify-content-center w-100 h-100"
  >
    <div class="pop_wrapper form_w1 position-relative">
      <span
        class="popup_close CloseTransRefunPopup"
        (click)="CloseCreateGamePopup()"
        >x</span
      >

      <div>
        <h5 class="text-center bg-primary2 p-2 text-white mb-0">Create Game</h5>
      </div>
      <div class="form_pop_he h_cg p-3">
        <div class="pb-3">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <b class="txt_bold txt_blue">Preview</b>
            </div>
            <!-- <div class="row" style="margin-bottom: -37px; margin-left: 14px">
              <div>Coloe :</div>
              <input [(colorPicker)]="color" [style.background]="color" />
            </div> -->
            <div
              class="col-lg-4 d-flex align-items-center justify-content-end flex-row"
            >
              <div class="text-center cursor-pointer pr-3">
                <div>Coloe :</div>
                <input [(colorPicker)]="color" [style.background]="color" />
              </div>
              <div class="text-center cursor-pointer" (click)="removeGame()">
                <i class="fa fa-trash is_1"></i>
                Remove
              </div>
            </div>
          </div>
        </div>
        <div class="pb-3">
          <div class="game_panel bg_game_1 d-flex" [style.background]="color">
            <div class="flx_1 d-flex flex-column">
              <div
                class="flx_1 d-flex align-items-center justify-content-center"
              >
                <h2 class="txt_bold text-uppercase text-white mb-0 text-center">
                  {{GameName}}
                </h2>
              </div>
            </div>
            <div class="flx_0 d-flex flex-column align-items-center">
              <div class="flx_1">
                <div class="active_chk dark_switch d-inline-block m-auto">
                  <label class="switch">
                    <input
                      class="switch-input"
                      name="IsActive"
                      type="checkbox"
                    />
                    <span
                      class="switch-label"
                      data-on="On"
                      data-off="Off"
                    ></span>
                    <span class="switch-handle"></span>
                  </label>
                </div>
                <span class="text-danger d-block text-center">In Active</span>
              </div>
              <div class="pt-2 flx_0 pb-4">
                <a
                  href="#"
                  class="px-2 py-1 rounded bg-white text-dark txt_bold"
                  >View All</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="bg-primary2 p-3">
          <div class="bg-white p-2">
            <form action="">
              <div class="pb-2">
                <input
                  type="text"
                  placeholder="Create Name"
                  class="form-control"
                  name="GameName"
                  [(ngModel)]="GameName"
                />
                <div class="ERR_Msg text-danger" *ngIf="GameNameError">
                  <p>GameName required</p>
                </div>
              </div>

              <div class="pb-2">
                <div class="text-right">
                  <button class="px-2 bg-primary2 text-white mb-0" (click)="CreateBoardBtn()"
                    >Create Board</button
                  >
                </div>
                <div class="dropdown w-100">
                  <span
                    class="form-control cursor-pointer w-100 d-block dropdown-toggle"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Choose Board
                  </span>
                  <div
                    class="dropdown-menu bg-white b_1"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <div class="cus_rm_drop pt-2">
                      <div *ngFor="let item of array">
                        <mat-checkbox
                          [(ngModel)]="item.checked"
                          (change)="getCheckboxes()"
                          >{{ item.name }}</mat-checkbox
                        >
                      </div>
                    </div>
                    <div class="text-right pt-2 pb-2 pr-2">
                      <button class="btn">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pb-2">
                <div class="pb-2">
                  <span
                    class="form-control cursor-pointer CreatePriceAmount"
                    (click)="CreateSlotTime()"
                    >Create Slot Price</span
                  >
                  <div class="ERR_Msg text-danger" *ngIf="showCountError">
                    <p>Show Counts is required</p>
                  </div>
                </div>
                <!-- <select
                  name=""
                  id=""
                  class="form-control"
                  [(ngModel)]="showCount"
                >
                  <option value="">Choose Show Counts</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <div class="ERR_Msg text-danger" *ngIf="showCountError">
                  <p>Show Counts is required</p>
                </div> -->
              </div>
              <div class="pb-2">
                <!-- <div class="pb-1">
                  <input type="checkbox" /> Create Game Only
                </div> -->
                <div>
                  <input type="checkbox" [(ngModel)]="published" value="true" />
                  Game Publish
                </div>
              </div>

              <div class="text-center">
                <button
                  class="btn btn-primary mr-3 w-100"
                  (click)="GameCreate()"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Create game Form End -->

<!-- Create Board Start -->

<section class="popup_box CreateBoardPopup" *ngIf="CreateBoardPopup">
  <div
    class="popup_info d-flex align-items-center justify-content-center w-100 h-100"
  >
    <div class="pop_wrapper form_w1 position-relative">
      <span class="popup_close CloseCreateBoard" (click)="CloseBoardPopup()"
        >x</span
      >
      <div class="bg-primary2 p-2 text-white mb-2">
        <select
          name=""
          id=""
          class="w-auto form-control bg-white"
          [(ngModel)]="activeBoardINdex"
          (change)="change()"
        >
          <option>Available</option>
          <option *ngFor="let list of BoardListdata; let i = index" [value]="i">
            {{ list.board_name }}
          </option>
        </select>
      </div>

      <div class="form_pop_he">
        <div class="pb-3">
          <div class="row align-items-end">
            <div class="col-lg-8">
              <b class="txt_bold txt_blue">Preview</b>
            </div>
            <div
              class="col-lg-4 d-flex align-items-center justify-content-end flex-row"
            >
              <div
                class="text-center cursor-pointer pr-3"
                (click)="EditBoard()"
              >
                <i class="fa fa-pencil-square-o is_1"></i>
                Edit
              </div>
              <div class="text-center cursor-pointer" (click)="RemoveBoard()">
                <i class="fa fa-trash is_1"></i>
                Remove
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <div>
            <h5 class="text-center bg-primary2 p-2 text-white mb-0">
              {{ boardEdit == true ? "Update Board" : "Create Board" }}
            </h5>
          </div>
          <div class="p-3 b_1 h_cg">
            <div class="pt-2 pb-2">
              <div class="bg-primary2 p-1 text-white text-center">
                {{ activeBoarddata.board_name }}
              </div>
              <div
                class="b_1 p-2 d-flex flex-row justify-content-center align-items-center"
              >
                <div
                  class="flx_0 px-3 py-2 b_1 ml-3 mr-3 rounded text-uppercase txt_bold"
                  *ngFor="let ticket of activeBoarddata.board_leter_format"
                >
                  {{ ticket }}
                </div>
              </div>
            </div>

            <div class="bg-primary2 p-3">
              <div class="bg-white p-2">
                <form action="">
                  <div class="pb-2">
                    <input
                      type="text"
                      placeholder="Create Board Name"
                      class="form-control"
                      name="boardName"
                      [(ngModel)]="boardName"
                    />
                    <div class="ERR_Msg text-danger" *ngIf="ticketnameError">
                      <p>boardName is required</p>
                    </div>
                  </div>
                  <div class="pb-2">
                    <div class="b_1 p-2">
                      <div class="d-flex align-items-center">
                        <div class="flx_1 pr-3">
                          <input
                            type="text"
                            placeholder="Create Board Value"
                            [(ngModel)]="ticketPatern"
                            oninput="this.value = this.value.toUpperCase()"
                            name="ticketPattern"
                            class="form-control"
                          />
                          <div
                            class="ERR_Msg text-danger"
                            *ngIf="ticketPaternError"
                          >
                            <p>ticketPattern is required</p>
                          </div>
                        </div>
                        <a
                          class="flx_0 pr-2 text-center cursor-pointer"
                          (click)="AddTickPattern()"
                        >
                          <i class="fa fa-plus-circle txt_blue is_1"></i>
                          <span class="d-block"> Add </span>
                        </a>
                        <div
                          class="flx_0 text-center cursor-pointer"
                          (click)="removeticketPattern()"
                        >
                          <i class="fa fa-trash txt_blue is_1"></i>
                          <span class="d-block">Remove</span>
                        </div>
                      </div>
                      <div class="d-flex flex-wrap">
                        <div
                          *ngFor="let ticket of ticketPattenArry; let i = index"
                          class="row"
                        >
                          <div
                            class="flx_0 px-3 py-2 b_1 ml-3 mr-3 rounded text-uppercase txt_bold"
                            (click)="activeletterpatters(i)"
                          >
                            {{ ticket }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pb-2">
                    <div class="input-group">
                      <span class="input-group-addon">RS</span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Ticket Price"
                        name="ticketValue"
                        [(ngModel)]="ticketValue"
                      />
                    </div>
                    <div class="ERR_Msg text-danger" *ngIf="ticketValueError">
                      <p>ticketValue is required</p>
                    </div>
                  </div>
                  <div class="pb-2">
                    <span
                      class="form-control cursor-pointer CreatePriceAmount"
                      (click)="CreatePriceAmount()"
                      >Create Price Amount</span
                    >
                    <div class="ERR_Msg text-danger" *ngIf="GamePriceError">
                      <p>Create Price is required</p>
                    </div>
                  </div>

                  <div class="text-center">
                    <button
                      class="btn btn-primary mr-3 w-100"
                      (click)="BoardCreate()"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Create Board End -->

<!-- Create price start -->

<section
  class="popup_box CreatePriceAmountPopup"
  *ngIf="CreatePriceAmountPopup"
>
  <div
    class="popup_info d-flex align-items-center justify-content-center w-100 h-100"
  >
    <div class="pop_wrapper form_w1 position-relative">
      <span class="popup_close ClosePriceTable" (click)="ClosePricePopup()"
        >x</span
      >
      <div class="bg-primary2 p-2">
        <div class="row align-items-end">
          <div class="col-lg-3">
            <label class="d-block text-center text-white mb-0 mt-0 pb-2"
              >Title</label
            >
            <input
              type="text"
              placeholder="1st Price"
              class="form-control bg-white"
              name="ticketname"
              [(ngModel)]="ticketname"
            />
          </div>
          <div class="col-lg-6">
            <label class="d-block text-center text-white mb-0 mt-0 pb-2"
              >Amount</label
            >
            <div class="input-group">
              <span class="input-group-addon bg-primary">RS</span>
              <input
                type="text"
                class="form-control bg-white"
                placeholder="1,00,000"
                name="ticketPrice"
                [(ngModel)]="ticketPrice"
              />
            </div>
          </div>
          <div class="col-lg-3">
            <button
              class="bg-transparent text-white b_1 px-3 py-2 cursor-pointer"
              (click)="AddPriceAmount()"
            >
              Add
            </button>
          </div>
        </div>

        <div class="pt-3">
          <b class="d-block pb-2 text-white">Result</b>
          <div class="table-responsive text-white Price_table">
            <table class="w-100">
              <tbody>
                <tr *ngFor="let data of GamePrice; let i = index">
                  <td>{{ data.name }}</td>
                  <td>{{ data.price }}</td>
                  <td width="50">
                    <i
                      class="fa fa-trash is_1 cursor-pointer"
                      (click)="GamePriceDelete(i)"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <button class="btn bg-white btn_dark" (click)="ClosePricePopup()">
            Cancel
          </button>
          <button class="btn bg-white btn_dark" (click)="ClosePricePopup()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Create price end -->


<!-- create show count start -->


<section
  class="popup_box CreatePriceAmountPopup"
  *ngIf="CreateSlotPopup"
>
  <div
    class="popup_info d-flex align-items-center justify-content-center w-100 h-100"
  >
    <div class="pop_wrapper form_w1 position-relative">
      <span class="popup_close ClosePriceTable" (click)="closeSlotPopup()"
        >x</span
      >
      <div class="bg-primary2 p-2">
        <div class="row align-items-end">
          <div class="col-lg-4">
            <label class="d-block text-center text-white mb-0 mt-0 pb-2"
              >Choose Show Time</label
            >
            <input
              type="time"
              placeholder="1st Price"
              class="form-control bg-white"
              name="showTime"
              [(ngModel)]="showTime"
            />
          </div>
          <div class="col-lg-5">
            <label class="d-block text-center text-white mb-0 mt-0 pb-2"
              >Choose Draw close from show time before</label
            >
            <div class="input-group">
              <input
              type="time"
              placeholder="1st Price"
              class="form-control bg-white"
              name="showTime"
                [(ngModel)]="closeShowTime"
              />
            </div>
          </div>
          <div class="col-lg-2">
            <button
              class="bg-transparent text-white b_1 px-3 py-2 cursor-pointer"
              (click)="AddSlotTime()"
            >
              Add
            </button>
          </div>
        </div>

        <div class="pt-3">
          <b class="d-block pb-2 text-white">Result</b>
          <div class="table-responsive text-white Price_table">
            <table class="w-100">
              <tbody>
                <tr *ngFor="let data of slotTimeList; let i = index">
                  <td>{{data.id}}</td>
                  <td>{{ data.showTime }}</td>
                  <td>{{ data.closeShowTime }}</td>
                  <td width="50">
                    <i
                      class="fa fa-trash is_1 cursor-pointer"
                      (click)="SlotTimeDelete(i)"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <button class="btn bg-white btn_dark" (click)="closeSlotPopup()">
            Cancel
          </button>
          <button class="btn bg-white btn_dark" (click)="closeSlotPopup()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- create show count end -->