<!-- Container fluid Starts -->
<div class="container-fluid">
  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="page-title">
          <h3 class="txt_black_2 mb-0">Customer Care</h3>
        </div>
      </div>
      <div class="col-lg-4 text-right">
        <!-- <a [routerLink]="['/customer-care-add']" class="btn btn-success">Add Post</a> -->
      </div>
    </div>
  </div>
  <!-- Top Bar Ends -->

  <div class="mp_panel">
    <div class="pb-3 pt-2">
      <div class="panel-body pb-0 table-responsive product_table">
        <table class="table no-margin">
          <thead>
            <tr>
              <th width="50" align="center">Edit</th>
              <th>Question</th>
              <th>Answer</th>
              <th align="center">Related Articles</th>
              <th width="50" align="center">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td align="center">
                <!-- <a [routerLink]="['/customer-care-add']">
                  <i
                    class="fa fa-pencil-square-o h5 text-success cursor-pointer"
                  ></i
                ></a> -->
              </td>
              <td>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum
              </td>
              <td>
                when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only five
                centuries
              </td>
              <td align="center">
                <a href="#" target="_blank"
                  ><i class="fa h5 fa-link text-primary cursor-pointer"></i
                ></a>
              </td>
              <td align="center">
                <i class="fa fa-trash h5 text-danger cursor-pointer"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <nav class="Page navigation text-center pt-3 pb-3">
      <ul class="pagination justify-content-center d-flex align-items-center">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">«</span>
          </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- Container fluid ends -->
