<div>
  <div class="pb-3 pt-2">
    <div class="mb-0 pb-0">
      <h1 class="text-left"><b>Transaction Details</b></h1>
      <h4></h4>
    </div>

    <div class="td_details">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <!-- <label> From date </label> -->
            <!-- <select name="" id="" class="form-control">
                      <option value="">Select</option>
                      <option value="">Day</option>
                      <option value="">Month</option>
                      <option value="">Year</option>
                    </select> -->
            <div class="form-group">
              <label> From date </label>
              <input
                type="date"
                class="form-control"
                [(ngModel)]="fromDate"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label> To date </label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="toDate"
            />
          </div>
        </div>
        <div class="col-lg-3 d-flex align-items-end pb-3">
          <button
            type="button"
            class="btn btn-primary btn-ripple search_bt"
            (click)="singleTransection()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="panel-body pb-0 table-responsive product_table td_center">
      <table class="table no-margin">
        <thead>
          <tr>
            <th>Transaction Id</th>
            <th>UserId</th>
            <!-- <th>Referral Id</th> -->
            <th>Date &amp; Time</th>
            <th>Amount</th>
            <th>Payment From</th>
            <th>Payment To</th>
            <!-- <th>Payment For</th> -->
            <th>Transaction Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of singleTransectionList">
            <td>BJCD T{{ user.transection_id }}</td>
            <td>
              BJCD{{ user.transection_to_roleid == 2 ? " B" : " C"
              }}{{ user.user_id }}
            </td>
            <!-- <td>
              {{
                        transection.referalList.length > 0
                          ? transection.referalList[0].refered_user_id
                          : ""
                      }}
              {{ transectionlist.referalList }}
            </td> -->
            <td>{{ user.created_on | date : "dd/MM/yyyy" }}</td>
            <td>
              <div class="input-group" style="width: 150px">
                <span class="input-group-addon">RS</span>
                <input
                  type="text"
                  class="form-control"
                  [style.color]="
                    user.position == 'ADD' || user.position == 'INC'
                      ? 'black'
                      : 'red !important'
                  "
                  value="{{
                    user.position == 'ADD' || user.position == 'INC'
                      ? user.amount
                      : '-' + user.amount
                  }}"
                />
              </div>
            </td>
            <td>
              {{
                user.transection_from_roleid == 1
                  ? "BJCD A"
                  : user.transection_from_roleid == 2
                  ? "BJCD B"
                  : "BJCD C"
              }}
              {{ user.transection_from_userid }}
              <span class="badge bg-primary blink_txt">{{
                user.transection_from_type
              }}</span>
            </td>
            <td>
              {{
                user.transection_to_roleid == 1
                  ? "BJCD A"
                  : user.transection_to_roleid == 2
                  ? "BJCD B"
                  : "BJCD C"
              }}
              {{ user.transection_to_userid }}
              <span class="badge bg-primary blink_txt">{{
                user.transection_to_type
              }}</span>
            </td>

            <!-- <td>
              {{
                transectionlist[0].referalList.length > 0
                  ? transectionlist[0].referalList[0].refered_user_id
                  : ""
              }}
              <br />
              <button
                type="button"
                class="mt-2 btn btn-primary btn-sm btn-ripple ViewPaymentForBtn"
                (click)="PaymentForBtn()"
              >
                View
              </button>
            </td> -->

            <td>{{ user.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <nav class="Page navigation text-center pt-3 pb-3">
    <ul
      class="pagination justify-content-center d-flex align-items-center"
    >
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">«</span>
        </a>
      </li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </nav> -->
</div>
