<div class="w-100 h-100 login_bg">
  <form id="wrapper" [formGroup]="loginform">
    <div id="box" class="animated bounceIn">
      <div id="top_header">
        <h5>Forget Password</h5>
      </div>
      <div id="inputs" class="px-3">
        <div class="form-block">
          <input
            type="text"
            placeholder="Enter Phone Number"
            name="phone Number"
            [(ngModel)]="phoneNumber"
            formControlName="Phone"
            class="w-100"
          />
          <div
            class="ERR_Msg text-danger"
            *ngIf="
              (loginform.controls['Phone']?.touched &&
                loginform.controls['Phone'].invalid) ||
              (submitChange && loginform.controls['Phone'].invalid)
            "
          >
            <p>Phone is not valid</p>
          </div>
        </div>
        <div class="form-block pb-3">
          <div class="input-group d-flex align-items-center h-100 flex-row">
            <button
              class="input-group-addon cus_py_1 flx_0 h-100"
              (click)="sendOtp()"
            >
              Generate OTP
            </button>
            <input
              type="text"
              class="form-control w-auto placeholder mb-0 flx_1"
              formControlName="validOtp"
              placeholder="Enter OTP"
              [(ngModel)]="validOtp"
              name="ValideOtp"
            />
            <div
              class="ERR_Msg text-danger"
              *ngIf="
                (loginform.controls['validOtp']?.touched &&
                  loginform.controls['validOtp'].invalid) ||
                (submitChange && loginform.controls['validOtp'].invalid)
              "
            >
              <p>validOtp is not valid</p>
            </div>
          </div>
        </div>

        <!-- <div>
          <a
            [routerLink]="['/login']"
            class="btn_login text-center d-block w-100"
            >Create</a
          >
        </div> -->

        <div>
          <div class="form-block">
            <input
              type="password"
              placeholder="Enter Password"
              formControlName="password"
              name="password"
              [(ngModel)]="password"
              class="w-100"
            />
            <div
              class="ERR_Msg text-danger"
              *ngIf="
                (loginform.controls['password']?.touched &&
                  loginform.controls['password'].invalid) ||
                (submitChange && loginform.controls['password'].invalid)
              "
            >
              <p>Password is not valid</p>
            </div>
          </div>
          <div class="form-block">
            <input
              type="password"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              name="confirmPassword"
              [(ngModel)]="confirmPassword"
              class="w-100"
            />
            <div
              class="ERR_Msg text-danger"
              *ngIf="
                (loginform.controls['confirmPassword']?.touched &&
                  loginform.controls['confirmPassword'].invalid) ||
                (submitChange && loginform.controls['confirmPassword'].invalid)
              "
            >
              <p>confirmPassword is not valid</p>
            </div>
          </div>
          <button
            type="submit"
            class="btn_login text-center d-block w-100"
            (click)="onSubmit()"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
