<header id="LoadHeader" class="top_header">
  <div class="d-flex align-items-center w-100">
    <div class="flx_0 pr-lg-3">
      <button class="collapse-menu" (click)="coloapsMenu()">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="flx_0 logo_row">
      <!-- <a href="#" class=""> logo </a> -->
      <img src="assets/images/newlogo.png" alt="" style="height: 60px" />


    </div>
    <div class="flx_1">
      <!-- Header actions starts -->
      <ul id="header-actions" class="clearfix heaed_ul">
        <li class="list-box hidden-xs dropdown mr-3">
          <a [routerLink]="['/my-request']" role="button" class="">
            <span class="minw_auto arrow_hide hed_act_img position-relative">
              <i class="fa fa-info-circle"></i>
            </span>
            <span class="d-block pt-1 m_label">My Request</span>
          </a>
        </li>
        <li class="list-box hidden-xs dropdown mr-3">
          <a [routerLink]="['/wallet']" role="button" class="" >
            <span class="minw_auto arrow_hide hed_act_img position-relative">
              <i class="fa fa-credit-card"></i>
            </span>
            <span class="d-block pt-1 m_label">Wallet</span>
          </a>
        </li>
        <li class="list-box hidden-xs dropdown mr-3">
          <a  role="button" class="" style="color: white;">
            <span class="minw_auto arrow_hide hed_act_img position-relative">
              <i class="fa fa-bell-o"></i>
              <span class="info-label blue-bg">0</span>
            </span>
            <span class="d-block m_label">Notifications</span>
          </a>
        </li>

        <li
          class="list-box user-admin hidden-xs pt-2 d-flex align-items-center dropdown"
        >
          <div class="admin-details pt-0 mt-0">
            <div class="name">Buyjackpots</div>
            <div class="designation">System Broker</div>
          </div>
          <a
            id="drop4"
            href="#"
            role="button"
            class="dropdown-toggle pt-0 pb-0"
            data-toggle="dropdown"
          >
            <i class="fa fa-user"></i>
          </a>
          <ul class="dropdown-menu sm">
            <li class="dropdown-content">
              <a [routerLink]="['/payment-profile']">Payment Profile</a>
              <a (click)="ChangePassword()">Change Password</a>
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>

      </ul>
      <!-- Header actions ends -->
    </div>
    <div></div>
  </div>
</header>
<div [class]="collaps_memu ? 'vertical-nav vertical-nav-sm' : 'vertical-nav '">
  <div class="user-details clearfix">
    <a href="profile.html" class="user-img" (click)="coloapsMenu()">
      <img src="../../../assets/images/thumbs/user1.png" alt="User Info" />
      <span class="likes-info">9</span>
    </a>
    <h5 class="user-name">{{ this.userName }}</h5>
  </div>
  <app-aside></app-aside>
</div>

<!-- Otp submit after start -->
<section class="popup_box EditPopupInfo" *ngIf="OtpSubmitInfo">
  <div
    class="popup_info d-flex align-items-center justify-content-center w-100 h-100"
  >
    <div class="pop_wrapper w-75 position-relative">
      <span class="popup_close" (click)="ClosePopupInfo()">x</span>
      <div class="panel-body pb-0 table-responsive product_table td_center">
        <table class="table no-margin w-100">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Action</th>
              <th>Reason</th>
              <th>Charges</th>
              <th>Type</th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="flx_1 pr-2">
                    <div class="input-group">
                      <span class="input-group-addon">RM</span>

                      <input
                        type="text"
                        class="form-control"
                        name="amoount"
                        [(ngModel)]="amount"
                      />
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <select
                  name="type"
                  id=""
                  class="form-control"
                  [(ngModel)]="transectionType"
                >
                  <option value="">Select</option>
                  <option value="">Add fund</option>
                </select>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  value="sample reason"
                  name="reason"
                  [(ngModel)]="reason"
                />
              </td>

              <td>
                <select
                  name=""
                  id="EditPopYesAction"
                  class="form-control"
                  name="persentage"
                  [(ngModel)]="persentage"
                >
                  <option value="">Select</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
              </td>
              <td>
                <select
                  name=""
                  id=""
                  class="form-control YesActionShow"
                  name="percentageAmount"
                  [(ngModel)]="percentageAmount"
                >
                  <option value="">Select</option>
                  <option value="1">Value</option>
                  <option value="2">%</option>
                </select>
              </td>
              <!-- <td>
                <div class="input-group ValueActionShow flow_hide">
                  <span class="input-group-addon">RM</span>
                  <input type="text" class="form-control rm_input" value="" />
                </div>

                <div class="percentshow flow_hide">
                  <select name="" id="" class="form-control">
                    <option value="">Select</option>
                    <option value="">1%</option>
                    <option value="">2%</option>
                  </select>
                </div>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div class="text-center pt-3">
        <button
          type="button"
          (click)="ClosePopupInfo()"
          class="btn btn-primary btn-ripple CancelProceedBtn mr-2"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary btn-ripple EditProceedBtn"
          (click)="paymenttransection()"
        >
          Proceed
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Otp submit after end -->


 <!-- popup start-->

 <section class="popup_box AddUserPopup " *ngIf="BrokerPopup" style="z-index:99999999;">
  <div
    class="popup_info d-flex align-items-center justify-content-center w-100 h-100"
  >
    <div class="pop_wrapper popup_w position-relative">
      <span
        class="popup_close CloseTransRefunPopup"
        (click)="CloseBrokerPopup()"
        >x</span
      >
      <div class="form_pop_he p-3">
        <div>
          <h4 class="py-2 txt_bold">Change Password</h4>
        </div>
        <form [formGroup]="form">
          <div class="pb-3">
            <input
              type="text"
              class="form-control"
              formControlName="oldPassword"
              placeholder="Enter Old Password"
              [(ngModel)]="oldPassword"
            />
            <div
              class="ERR_Msg text-danger"
              *ngIf="
                form.controls['oldPassword']?.touched &&
                form.controls['oldPassword'].invalid
              "
            >
              <p>oldPassword is required</p>
            </div>
          </div>
          <div class="pb-3">
            <input
              type="text"
              class="form-control"
              formControlName="newPassword"
              placeholder="Enter New Password"
              [(ngModel)]="newPassword"
            />
            <div
              class="ERR_Msg text-danger"
              *ngIf="
                form.controls['newPassword']?.touched &&
                form.controls['newPassword'].invalid
              "
            >
              <p>newPassword is required</p>
            </div>
          </div>
          <div class="pb-3">
            <input
              type="text"
              class="form-control"
              formControlName="confirmPassword"
              placeholder="Enter Confirm Password"
              [(ngModel)]="confirmPassword"
            />
            <div
              class="ERR_Msg text-danger"
              *ngIf="
                form.controls['confirmPassword']?.touched &&
                form.controls['confirmPassword'].invalid
              "
            >
              <p>confirmPassword is required</p>
            </div>
          </div>

          <div class="text-center d-flex flex-row justify-content-between">
            <button class="btn btn-primary mr-3" (click)="CloseBrokerPopup()">
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!form.valid"
              (click)="onSubmit()"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

 <!-- popup End -->


<!-- ancher tag dynamiv -->
<div *ngIf="paymenturlshow">
  <a href="{{ paymenturl }}">{{ paymenturl }}</a>
</div>

<!-- dynamic end  -->
