<!-- Container fluid Starts -->
<div class="container-fluid">
  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row gutter">
      <div class="col-lg-12">
        <div class="page-title">
          <h3 class="txt_black_2">Ticket Price</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar Ends -->

  <div class="mp_panel">
    <div class="mb-3">
      <div class="panel panel-red">
        <div class="pb-3 pt-2">
          <div class="panel-body pb-0 table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Board</th>
                  <th class="text-center">Ticket Price</th>
                  <th class="text-center">Price amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of DataList">
                  <td>{{ data.title }}</td>
                  <td>{{ data.board }}</td>
                  <td class="text-center">
                    <div class="input-group m-auto" style="width: 150px">
                      <span class="input-group-addon">RS</span>
                      <span type="text" class="form-control"
                        >{{ data.ticket_price }}
                      </span>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="input-group m-auto" style="width: 150px">
                      <span class="input-group-addon">RS</span>
                      <span type="text" class="form-control">
                        {{ data.price_amount }}
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <nav class="Page navigation text-center pt-3 pb-3">
          <ul
            class="pagination justify-content-center d-flex align-items-center"
          >
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
